a {
  color: blue;
}
a:visited {
  text-decoration: none;
  color: blue;
}

b {
  font-weight: 600;
}

u {
  text-decoration-thickness: 2px;
}

.warning {
  color: red;
  font-weight: 500;

  font-size: 13pt;
}

.document {
  display: flex;
  flex-direction: column;

  background-color: lightgray;
  
  justify-self: center;
  justify-content: center;

  width: 80%;
}

.text {
  border: 2px solid black;
  border-radius: 5px;
  height: 100%;

  padding: 10px 20px;

  margin: 10px 30px;
}
